body {
    font-family: Arial, sans-serif;
    margin: 19px;
}

label {
    font-size: 15px;
}

select {
    margin: 11px 0;
    padding: 5px;
    font-size: 14px;
}

svg {
    font-size: 14px;
}

text {
    font-size: 12px;
}